{% extends "base.html" %}

{% block content %}
<h2 class="text-center mb-5">Welcome to ISPNet Block Time Tracker</h2>
<br>
<div class="d-flex flex-column gap-3 align-items-center">
  <a href="/clients" class="btn btn-primary btn-lg w-50">Clients</a>
  <br>
  <br>
  <a href="/contracts" class="btn btn-primary btn-lg w-50">Contracts</a>
  <br>
  <br>
  <a href="/tickets" class="btn btn-primary btn-lg w-50">Tickets</a>
  <br>
  <br>
  <a href="/report" class="btn btn-primary btn-lg w-50">Reports</a>
  <br>
  <br>
  <a href="/technicians" class="btn btn-primary btn-lg w-50">Technicians</a>
</div>
{% endblock %}